In [1]:
import numpy as np

In [2]:
import pandas as pd

# Series
A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [8]:
labels = ['a','b','c']
my_list = [1,2,3]
np_arr = np.array([1,4,6])

In [9]:
my_list

[1, 2, 3]

In [10]:
np_arr

array([1, 4, 6])

In [11]:
pd.Series(data = my_list)

0    1
1    2
2    3
dtype: int64

In [13]:
pd.Series(data = my_list, index = labels)

a    1
b    2
c    3
dtype: int64

In [15]:
# Alternate and prefered method
pd.Series(my_list, labels)

a    1
b    2
c    3
dtype: int64

In [17]:
# using np_array
pd.Series(np_arr, labels)

a    1
b    4
c    6
dtype: int32

In [18]:
pd.Series(np_arr)

0    1
1    4
2    6
dtype: int32

In [20]:
# Dictionary
my_dict = {'a':10,'b':20,'c':30}

In [21]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [23]:
# Here labels list is considered as data
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [27]:
ser1 = pd.Series(data = [1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [29]:
#Prefered method
ser1 = pd.Series([1,2,3,4],['USA', 'Germany','USSR', 'Japan'])

In [31]:
ser2 = pd.Series([1,2,5,4],['USA', 'Germany','Italy', 'Japan'])

In [33]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [34]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [38]:
#extra
check_dtype = np.array(['Q','a','s','i','m'])
check_ser = pd.Series(check_dtype)
check_ser

0    Q
1    a
2    s
3    i
4    m
dtype: object

In [39]:
ser1['USA']

1

In [42]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [43]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [44]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [45]:
ser2 - ser1

Germany    0.0
Italy      NaN
Japan      0.0
USA        0.0
USSR       NaN
dtype: float64